*{
    margin: 0px;
    padding: 0px;
}
.cruise{
    width: 100%;
    height: 100vh;
    background-image: url(img/boat_animation/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.ocean{
    width: 100%;
    height: 220px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.water{
    height: 100%;
    position: absolute;
    right: 0;
    animation: water 10s linear infinite;
}
@keyframes water{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(1000px);
    }
}
.boat{
    width: 350px;
    bottom: 127px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
.boat img{
    width: 100%;
    -webkit-box-reflect: below 0 linear-gradient(transparent, white);
    animation: boat 2s linear infinite;
}
@keyframes boat{
        0%{
            transform: rotate(0deg);
        }
        25%{
            transform: rotate(-3deg);
        }
        50%{
            transform: rotate(-5deg);
        }
        75%{
            transform: rotate(-3deg);
        }
        100%{
            transform: rotate(0deg);
        }




}
.cloud{
    height: 250px;
    position: absolute;
    right: 0;
    animation: cloud 5s linear infinite;
}
@keyframes cloud{
    0%{
      transform: translateX(0px);
    }
    100%{
        transform:translateX(400px);
     }
}