
table,tr,th,td{
    text-align: center;
    border: 1px solid black;
    padding: 0px;
    /* border-collapse: collapse; */
    border-spacing: 2px;
    margin: 0px;
    width: 500px;
 

}
.bgcolor{
    background:orange;
}
.bgcolor1{
    background-color: chartreuse;
}
.bgcolor2{
    background-color: aqua;
}
