body{
    margin: 0px;
    font-family: sans-serif;
}
.section{
    background-color: black;
    display:flex;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    margin:  0.5rem auto 0 auto;

}
.section img{
    height: 250px;
    padding: 60px;
}
.section h1{
    margin: 0px;
    color: deepskyblue;
}
.section p{
    color: coral;
}