* {
box-sizing: border-box;
   
}


body {
    margin: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
   
   
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aqua;
}
nav{
    color: aqua;
    background-color: black;
}
footer a{
    text-decoration: none;
    color: darkslategray;
    text-decoration: line-through;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

nav a{
   padding: 10px;
    color: antiquewhite;
}
nav{
    background-color: rgb(226, 43, 43);

}
nav a:hover{
    color: chartreuse;
}
nav a:visited{
    color: black;
}
