/* *{
    box-sizing: border-box;
} */

form {
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	background-color: #e9f7f5f5;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #ccc;
}
img{
    margin-bottom: 25px;
   }
h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}
button[type="submit"]:hover,
button[type="reset"]:hover{
    background-color: rgb(160, 183, 218);
}

input[type="text"],input[type="email"],input[type="pincode"],
input[type="date"],select,textarea{
    width: 90%;
    padding: 10px ;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid black;
}
button[type="submit"],button[type="reset"]{
    display:inline-block;
    background-color: orange;
    color: rgb(242, 247, 243);
    border-radius: 5px;
    margin-top: 30px;
    border: none;
    padding: 5px 10px;
    cursor: crosshair;
    position: relative;
    left: 170px;
}
input[type="radio"]{
    display: inline-flex;
    margin-right: 20px;
    align-self: center;
    
}
nav label{
    display: inline-flex;
    text-decoration: none;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    position: relative;
    right: 25px;
    
   }
 