*{
    margin: 0;
    padding: 0;
    }
.airport{
    width: 100%;
    height: 100vh;
    background-image: url(img/plane_animation/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    }
.runway{
    width: 100%;
    height: 165px;
    background-image: url(img/plane_animation/road.jpg);
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
}
.airplan{
    width: 278px;
    bottom: 97px;
    right: -63px;
    position: absolute;
    animation: airplan 10s linear infinite;
}
@keyframes airplan{
    0%{
        transform: translateX(0px) translateY(0px);
        }
    30%{
        transform: translateX(-460px) translateY(-10px) rotate(5deg);
    }
   
    100%{
        transform: translateX(-1500px) translateY(-400px);
    }
  
}
.plan{
    width: 100%;
   
}
/* cloud animation  */
.cloud{
    height: 200px;
    position: absolute;
    right: 0;
    animation: cloud 5s linear infinite;
}
@keyframes cloud{
    0%{
      transform: translateX(0px);
    }
    100%{
        transform:translateX(400px);
     }
}